<% include ../partials/header %>
<% include ../partials/navbar %>


<div class="page-container">
    <h1 class="page-title">Acampamentos</h1>
    <a href="/acampamentos/novo" class="btn btn-basic">Incluir</a>
</div>


<div class="camp-grid">
    <% acampamentos.forEach((camp) => { %>
        <a href="/acampamentos/<%= camp._id %>" class="camp-link">
            <div class="camping">
                <img class="camping__image" src="<%= camp.img %>" alt="<%= camp.name %>">
                <h3 href="/acampamentos/<%= camp._id %>" class="camping__name"><%= camp.name %></h3>
            </div>
        </h3>
    <% }); %>
</div>

<% include ../partials/footer %>