<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="page-container">
    <h1 class="page-title"><%= acampamento.name %></h1>
    <a href="/acampamentos" class="btn btn-basic">Voltar</a>
</div>
<div class="hero">
    <img class="hero-img" src="<%= acampamento.img %>" alt="<%= acampamento.name %>">
    <div class="hero-details">
        <span class="hero-details__creator">Adicionado por: <%= acampamento.user.name %></span>
        <p class="hero-details__desc"><%= acampamento.desc %></p>
    </div>
</div>

<div class="comments">
    <a href="/acampamentos/<%= acampamento._id %>/comentarios/novo" class="btn-simple">Deixe seu comentário</a>
    <% if (currentUser !== undefined) { %>
        <% if (currentUser._id.toString() === acampamento.user.id.toString()) { %>
            <a href="/acampamentos/<%= acampamento._id %>/editar" class="btn btn-edit">Editar</a>
            <form class="form-delete" action="/acampamentos/<%= acampamento._id %>?_method=DELETE" method="POST">
                <button class="btn btn-delete">Apagar</button>
            </form>
        <% }; %>
    <% }; %>
    <% acampamento.comments.forEach((comment) => { %>
        <div class="comment">
            <h3 class="comment__author"><%= comment.author.name %></h3>
            <p class="comment__text"><%= comment.text %></p>
            <% if (currentUser !== undefined) { %>
                <% if (currentUser._id.toString() === comment.author.id.toString()) { %>
                    <a href="/acampamentos/<%= acampamento._id %>/comentarios/<%= comment._id %>/editar" class="btn-simple">Editar</a>
                    <form class="form-delete" action="/acampamentos/<%= acampamento._id %>/comentarios/<%= comment._id%>?_method=DELETE" method="POST">
                <button class="btn-simple">Apagar</button>
            </form>
                <% }; %>
            <% }; %>
        </div>
    <% }); %>
</div>

<% include ../partials/footer %>